BOT_TOKEN=1234567890:AAExampleBotTokenHere
BOT_USERNAME=aloofest_bot

BASE_URL=https://your-project.up.railway.app
WEBAPP_SECRET=super-secret-key

CHANNEL_USERNAME=aloo_uzb
SHOP_BOT_USERNAME=aloouz_bot

ADMIN_IDS=1962467047

DB_PATH=bot.db
PORT=8080

REGISTRATION_BONUS=5
REFERRAL_BONUS=5

REFERRAL_VIDEO_FILE_ID=
